[Libinput][1452][613][Apple Inc. Magic Trackpad 2][$i]
NaturalScroll=true
PointerAcceleration=0.400
TapToClick=true

[Libinput][2][8][{{ touchpad }}][$i]
NaturalScroll=true
PointerAcceleration=0.400
TapToClick=true

[Mouse][$i]
cursorTheme[$i]=Oxygen_Blue